*__pycache__*

*wandb

*rraa_rl.egg-info

# Ignore all EFPPO experiments
/rraa_rl/EFPPO/model/hopper_avoid_ceiling/**
/model/*

# Ignore all experiments
/rraa_rl/exp/**

# except certain files
!/rraa_rl/exp/safeCartpole_swingup
!/rraa_rl/exp/safeCartpole_swingup/PPO
!/rraa_rl/exp/safeCartpole_swingup/PPO/test
!/rraa_rl/exp/safeCartpole_swingup/PPO/test/**

# render
/render/figs/*
/render/gifs/*
/render/f16_somefigs_061025/*
/render/gifs/frames/*
/render/gifs/wonky_traj_frames/*